@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.game-container{
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    text-decoration: none;
    padding: 0px;
}
.game-container:hover{
    background-color: var(--card-color);
    filter: brightness(0.95);
}

.game-container p {
    text-align: center;
    align-content: center;
    padding: 0;
    margin: 0;
    font: 800 1rem Times;
    color: var(--text-color);
}

.game-container img {
    border-radius: 20px;
    max-width: 90%;
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.game-container h1 {
    text-align: center;
    align-content: center;
    padding: 0;
    margin-bottom: 10px;
    margin-top: -10px;
    font: 1000 2rem "baloo 2";
    font-weight:bold;
    -webkit-text-fill-color: var(--text-color);
    /* -webkit-text-stroke: 0.5rem;  */
}

